:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header h1 {
  margin: 0;
}

select, input, button {
  margin: 0;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 .5rem;
  height: 1.5rem;
}

input[type="button"] {
  width: 168px;
}

input[type="text"] {
  height: 22px;
}

input[type="button"].selected {
  background-color: #242424;
  color: white;
}


#display {
  height: 60px;
  padding-bottom: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

#display #single {
  display: none;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

#display #versus {
  display: none;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

#display div#versus div label {
  display: block;
  padding: 0.5rem 0;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.cell:nth-child(-n + 3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-last-child(-n + 3) {
  border-bottom: none;
}

.cell.X,
.cell.O {
  cursor: default;
}

/* X Object */

.cell.X::before {
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  transform: rotate(45deg);
  background-color: black;
  content: '';
}

.cell.X::after {
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  transform: rotate(-45deg);
  background-color: black;
  position: absolute;
  content: '';
}

/* X Hover */

.X .cell:not(.X):not(.O):hover::before {
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  transform: rotate(45deg);
  background-color: lightgray;
  position: absolute;
  content: '';
}

.X .cell:not(.X):not(.O):hover::after {
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  transform: rotate(-45deg);
  background-color: lightgray;
  position: absolute;
  content: '';
}

/* O Object */

.cell.O::before {
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
  background-color: black;
  position: absolute;
  content: '';
}

.cell.O::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  border-radius: 50%;
  background-color: white;
  position: absolute;
  content: '';
}

/* O Hover */

.O .cell:not(.X):not(.O):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
  background-color: lightgray;
  position: absolute;
  content: '';
}

.O .cell:not(.X):not(.O):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  border-radius: 50%;
  background-color: white;
  position: absolute;
  content: '';
}

#winner {
  background-color: rgba(0, 0, 0, .9);
  font-size: 5rem;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#single.show, #versus.show, #winner.show {
  display: flex !important;
}

#winner button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  height: auto;
  cursor: pointer;
}

#winner button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
